body {
    overflow: hidden;
}

.fps {
    padding-left: 20px;
    padding-top: 10px;
    color: purple;
    position: absolute; 
}

.ground {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 10vh;
    width: 90vw;
    height: 20vh;
    position: absolute; 
    background-color: brown;
}

.oscillating-ball {
    height: 10vh;
    width: 10vh;
    background-color: orange;
    position: absolute;
}

.player {
    height: 15vh;
    width: 7vw;
    background-color: green;
    position: absolute;
}

.test-grid {
    display: grid;
    height: 190vh;
    width: 190vw;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    background-color: lightblue;
    position: absolute;
    z-index: -1;
}